<!DOCTYPE html>
<html>
<head>
<title>Jayanth Visweswaran | <%= yield(:title) %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Jayanth Visweswaran</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="<%= (yield(:head?)) %>"><a href="/home">Home</a></li>
              <li class="<%= (yield(:contact?)) %>"><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <%= yield %>
      <div class="mastfoot">
        <div class="inner">
          
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
